

html{font-size:110%;}
@media(min-width:60em){html{font-size: 90%}}

.branding {
	font-size: 15px;
}
.odometerS {
    font-size: 80px;
}

.showcase {
	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/showcase.jpg") no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 700px;
	padding: 180px 100px;
	color: #fff;
}
.myButton{
	 animation-name: action;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}




.showcase h1 {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
}


hr {
	width: 100px;
	margin: auto;
	border-width: 3px;
	border-color: #f44336;
}

.showcase p {
	font-size: 16px;
	padding-bottom: 20px;
}

.section {
	padding: 40px 0px;
}

.section h2 {
	font-size: 35px;
	padding: 0;
	margin: 0;
}
.section h3{
	font-size: 20px;
}

.section .fa {
	font-size: 50px;
}

.section img {
	width: 100%;

}
.section h4{
	font-size: 27px;
	font-weight:450;

	/*background-color: #b2b2b2;*/
}
.help li , p{
font-size:17px;


}
.help{
	margin: 10px 55px;
}
.comments-container{
	margin: 4% 0%;
}
.comments{
	margin-top: 5% !important;
	margin-right: 10%;
	margin-left:10%;
}
.comments p{
	margin-top: 2px;
	margin-bottom: 20px
	margin-left: 20px ;
}
.comments img{
	margin: 10px 20px;
	max-width: 120px;
}
#about img{
filter: brightness(90%);
}

.material-icons {
	color: black;
	font-size: 90px;
}
.statIcon{
	color: black;
	font-size: 90px;
}

#contact img {
	height: 50px;
	width: auto;
	margin: 4px;
	border-radius: 5px;
}


.wrapper{
	display: flex;
	flex-flow: row;
	flex-wrap: initial;
	align-content: center;
    justify-content: center;
    text-align: center;

}

#forIcons {
	margin-top: 20px;

}
#forIcons i{
	color: red;
}

.footerCol {
	height: 300px;
	padding: 50px 40px;
	font-size: 16px;
}

.footerCol img {
	height: 50px;
	width: auto;
	margin: 4px;
	margin-top: 10px;
	border-radius: 5px;
}
.icons{
	margin-top: 20px;
}

.footerCol img:hover {
	border-radius: 25px;
}
.longLine{
	margin-top: 30px;
	padding-bottom: 30px;
	width: 80%;
	height:5px;
}
.logosCompany {

	height:100px;
	width:auto;
	align-self: center;

}

.logosCompany img{
	width: 100%;
	padding: 25px;
}

.traders-main-container{
    padding: 10px;
}

.traders-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.trader-img{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.trader-img img{
    width: 170px;
    align-self: center;
    cursor: pointer;
}

.trader-img img:hover{
    filter:drop-shadow(8px 8px 10px red);
    transition: 0.5s;
}
.trade-popup-content{
    background-color: #fefefe;
    margin: 15% auto !important;

    border: 5px solid #ccc;
    width: 60% !important;
}

.trade-popup-content img{
    margin: 20px auto;
    margin-top: 40px;
    display: block;
    width: 200px;
}

.trade-popup-content .broker-name{
    font-size: 22pt;
    font-family: Roboto Slab Light;
    font-weight: 600;
    text-align: center;
}

.trade-popup-content .text{
    font-size: 14pt;
    text-align: center;
}

.trade-popup-content .trader-popup-text{
    font-weight: bold;
}

.trade-popup-content .free-consult{
    font-size: 20pt;
    font-family: Roboto Slab Light;
    font-weight: 600;
    text-align: center;
}

.popUp{
    display: none;
    position: fixed !important;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}






@media only screen and (max-width:600px) {
	body {
		margin-top: 280px;
		background-color: rgb(187,187,187);
	}
	.showcase {
		height: 450px;
		padding: 60px 0;
		padding-bottom: 100px;
	}
	.wrapper{
		flex-direction: column;
	}
	.logosCompany {

	display: block;
	padding: 70px;

	}
	.pics img{
		height: 70px;
	}
	.comments{
		margin: 0 0 !important;
	}


}
